@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

body {
    height: 3576px;
    margin: 0;
    padding: 0;
}

main {
    height: 70%;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px 104px;
    align-items: center;
    background: var(--fill-background-white, #FFF);
}

.logo {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-end;
    gap: 4.396px;
    flex-shrink: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.pc-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.pc-nav-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.header-menu {
    color: var(--text-button-oxford-blue, #000D40);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;
}

.pc-nav-list-inner-container {
    display: flex;
    align-items: flex-start;
    gap: 42px;
    padding: 11.5px 28px;
}

#language-button {
    display: flex;
    height: 24px;
    padding-right: 0px;
    align-items: flex-start;
    gap: 8px;
}

#language-button a {
    color: var(--text-button-blue, #129AFE);
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
}

#notify-me-button {
    display: flex;
    padding: 11.5px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--fill-icon-blue, #129AFE);
    background: var(--fill-background-white, #FFF);
    color: var(--text-button-blue, #129AFE);
    text-align: center;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.dropdown-nav {
    display: none;
    justify-content: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-nav:hover .dropdown-content {
    display: block;
}

.footer {
    width: 100%;
    height: 30%;
    overflow: hidden;
    position: relative;
}

.blue-container {
    width: 300%;
    height: 300%;
    border-radius: 300%;
    position: absolute;
    top: 26%;
    left: -100%;
    background: var(--text-headlines-oxford-blue, #000D40);
    z-index: 0;
}

#illustration {
    width: 384px;
    height: 373px;
    flex-shrink: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

#imagegrow {
    width: 349px;
    height: 256px;
    position: absolute;
    left: 20%;
    top: -5%
}

#imagecoo {
    width: 230px;
    height: 151px;
    left: 60%;
    top: 0%;
    position: absolute;
}

.contact-us {
    position: relative;
    width: 100%;
    height: 30%;
    padding-top: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}


.contact-us h2 {
    color: var(--text-headlines-white, #FFF);
    text-align: center;
    font-family: Abel;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

.text-container {
    width: 30%;
    display: flex;
}

.contact-us a {
    display: inline-flex;
    padding: 11.5px 28px;
    align-items: flex-start;
    border-radius: 100px;
    background: var(--text-button-blue, #129AFE);
    color: var(--text-button-white, #FFF);
    text-align: center;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.backfooter {
    display: flex;
    padding: 0 5% 1% 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 5;
    gap: 1%;
}

.lists {
    width: 40%;
    z-index: 5;
    display: flex;
    align-items: flex-start;
}

.right-backfooter {
    width: 25%;
    height: 100%;
    color: var(--text-headlines-white, #FFF);
    font-family: Aleo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.features-backfooter {
    width: 50%;
}

.pages-backfooter {
    width: 50%;
}

.uptodate-backfooter {
    width: 30%;
    height: 100%;
}

.language-footer {
    display: flex;
    gap: 10px;
}

.backfooter h2 {
    color: var(--text-headlines-white, #FFF);
    font-family: Aleo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.backfooter li {
    color: var(--text-headlines-white, #FFF);
    font-family: Aleo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

.text-container-footer {
    border-radius: 40px;
    border: 1px solid var(--stroke-blue, #129AFE);
    display: flex;
    justify-content: flex-end;
}

.text-container-footer input {
    width: 60%;
    background-color: transparent;
    border: transparent;
    color: var(--text-body-kashmir-blue, #5C6485);
    font-family: Abel;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.arrows {
    margin-top: 5%;
    margin-right: 10%;
}


.uptodate-backfooter a {
    padding: 11.5px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--text-button-white, #FFF);
    text-align: center;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    width: 30%;
    border-radius: 100px;
    background: var(--fill-button-blue, #129AFE);
}

.arrows-mobile {
    display: none;
}

@media (max-width: 768px) {
    #pc-logo {
        display: none;
    }

    .uptodate-backfooter a {
        display: inline-flex;
        color: var(--text-button-white, #FFF);
        text-align: center;
        font-family: Abel;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.36px;
    }

    #mobile-logo {
        display: block;
    }

    .dropdown-nav {
        display: flex;
        gap: 26px;
    }

    .pc-nav-container {
        display: none;
    }

    #notify-me-button {
        display: block;
    }

    #illustration {
        width: 222px;
        height: 218px;
        top: 12%;
    }

    #imagegrow {
        width: 193px;
        height: 163px;
        flex-shrink: 0;
        top: 1%;
        left: 5%;
    }

    #imagecoo {
        width: 154px;
        height: 129px;
        flex-shrink: 0;
        left: 57%;
        top: 1%;
    }

    .contact-us {
        padding-top: 75%;
    }


    .text-container {
        width: 75%;
    }

    .footer {
        height: 35%;
    }

    .contact-us h2 {
        color: var(--text-headlines-white, #FFF);
        text-align: center;
        font-family: Abel;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
    }

    .backfooter {
        height: 55%;
        flex-direction: column;
    }

    .right-backfooter {
        width: 100%;
        order: 1;
    }

    .lists {
        width: 100%;
        order: 3;
        gap: 10%;
    }

    .pages-backfooter {
        width: 100%;
        order: 4;
    }

    .arrows {
        display: none;
    }

    .uptodate-backfooter {
        width: 100%;
        order: 2;
    }

    .arrows-mobile {
        display: inline-block;
        order: 5;
    }
}

@media (max-width: 500px) {
    .contact-us {
        padding-top: 115%;
    }
}