@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

body {
    height: 3376px;
    margin: 0;
    padding: 0;
}

main {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px 104px;
    align-items: center;
    background: var(--fill-background-white, #FFF);
}

.logo {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-end;
    gap: 4.396px;
    flex-shrink: 0;
}

#mobile-logo {
    display: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.pc-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.pc-nav-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.header-menu {
    color: var(--text-button-oxford-blue, #000D40);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Abel;
    font-size: 1.0000em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;
}

.pc-nav-list-inner-container {
    display: flex;
    align-items: flex-start;
    gap: 42px;
    padding: 11.5px 28px;
}

#language-button {
    display: flex;
    height: 24px;
    padding-right: 0px;
    align-items: flex-start;
    gap: 8px;
}

#language-button a {
    color: var(--text-button-blue, #129AFE);
    font-family: Abel;
    font-size: 1.0000em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
}

#notify-me-button {
    display: flex;
    padding: 11.5px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--fill-icon-blue, #129AFE);
    background: var(--fill-background-white, #FFF);
    color: var(--text-button-blue, #129AFE);
    text-align: center;
    font-family: Abel;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.dropdown-nav {
    display: none;
    justify-content: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-nav:hover .dropdown-content {
    display: block;
}

.welcome-message h2 {
    color: var(--text-headlines-oxford-blue, #000D40);
    text-align: center;
    font-family: Abel;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 400;
}

.welcome-message p {
    color: var(--text-body-oxford-blue, #000D40);
    text-align: center;
    font-family: Abel;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25em;
}

.text-container-main {
    border-radius: 40px;
    border: 1px solid var(--stroke-blue, #129AFE);
    display: flex;
    justify-content: flex-end;
    width: 37em;
    margin-top: 3%;
}

.text-container-main a {
    padding: 15.5px 28px;
    border-radius: 100px;
    background: var(--fill-button-blue, #129AFE);
    color: var(--text-button-white, #FFF);
    font-family: Abel;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;

}

.text-container-main input {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0%;
    width: 77%;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    text-align: left;
    z-index: 1;
    margin-bottom: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 0.5vw;
    border: 0.1vw solid #E9EEF2;
    background: white;
    width: 37vw;
    margin-top: 0.25vw;
    font-family: Arial;
}

.dropdown-content a {
    padding: 3vh 2.5vw;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown input:focus {
    outline: none;
}

#overlay-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3vw;
    cursor: pointer;
    border-radius: 100px;
    background: #129AFE;
    padding: 17px 28px;
    margin-top: 2vw;
    font-size: 1em;
    font-family: Arial;
    color: white;
}

.cards {
    width: 90%;
    height: 42vw;
    margin-top: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 5vh;
}

.item {
    width: 30%;
    height: 20vw;
    font-family: Abel;
    background-color: #FAFBFC;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: stretch;
    flex-shrink: 0;
    padding: 2%;
}

.emojiclass {
    margin-top: 3%;
}

.emojiclass {
    color: var(--text-headlines-oxford-blue, #000D40);
    text-align: center;
    font-family: Abel;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
}

.questions {
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

.questions p {
    color: var(--text-body-oxford-blue, #000D40);
    font-family: Abel;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.questionpoint {
    height: 5vw;
    border-bottom: solid 0.25vh #E9EEF2;
    text-align: left;
    margin: 0 2vw;
    color: var(--text-body-oxford-blue, #000D40);
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#firstquestion {
    height: 10vw;
}


.questionpoint {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer {
    width: 100%;
    height: 30%;
    overflow: hidden;
    position: relative;
}

.blue-container {
    width: 300%;
    height: 300%;
    border-radius: 300%;
    position: absolute;
    top: 26%;
    left: -100%;
    background: var(--text-headlines-oxford-blue, #000D40);
    z-index: 0;
}

#illustration {
    width: 384px;
    height: 373px;
    flex-shrink: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

#imagegrow {
    width: 349px;
    height: 256px;
    position: absolute;
    left: 20%;
    top: -5%
}

#imagecoo {
    width: 230px;
    height: 151px;
    left: 60%;
    top: 0%;
    position: absolute;
}

.contact-us {
    position: relative;
    width: 100%;
    height: 30%;
    padding-top: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}


.contact-us h2 {
    color: var(--text-headlines-white, #FFF);
    text-align: center;
    font-family: Abel;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

.text-container {
    width: 30%;
    display: flex;
}

.contact-us a {
    display: inline-flex;
    padding: 11.5px 28px;
    align-items: flex-start;
    border-radius: 100px;
    background: var(--text-button-blue, #129AFE);
    color: var(--text-button-white, #FFF);
    text-align: center;
    font-family: Abel;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.backfooter {
    display: flex;
    padding: 0 5% 1% 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 5;
    gap: 1%;
}

.lists {
    width: 40%;
    z-index: 5;
    display: flex;
    align-items: flex-start;
}

.right-backfooter {
    width: 25%;
    height: 100%;
    color: var(--text-headlines-white, #FFF);
    font-family: Aleo;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.features-backfooter {
    width: 50%;
}

.pages-backfooter {
    width: 50%;
}

.uptodate-backfooter {
    width: 30%;
    height: 100%;
}

.language-footer {
    display: flex;
    gap: 10px;
}

.backfooter h2 {
    color: var(--text-headlines-white, #FFF);
    font-family: Aleo;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.backfooter li {
    color: var(--text-headlines-white, #FFF);
    font-family: Aleo;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

.text-container-footer {
    border-radius: 40px;
    border: 1px solid var(--stroke-blue, #129AFE);
    display: flex;
    justify-content: flex-end;
}

.text-container-footer input {
    width: 60%;
    background-color: transparent;
    border: transparent;
    color: var(--text-body-kashmir-blue, #5C6485);
    font-family: Abel;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.arrows {
    margin-top: 5%;
    margin-right: 10%;
}


.uptodate-backfooter a {
    padding: 11.5px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--text-button-white, #FFF);
    text-align: center;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    width: 30%;
    border-radius: 100px;
    background: var(--fill-button-blue, #129AFE);
}

.arrows-mobile {
    display: none;
}

@media (max-width: 768px) {

    body {
        height: 3900px;
    }

    #pc-logo {
        display: none;
    }

    header {
        padding: 5% 2% 0 2%;
    }

    .logo {
        justify-content: left;
    }

    .uptodate-backfooter a {
        display: inline-flex;
        color: var(--text-button-white, #FFF);
        text-align: center;
        font-family: Abel;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.36px;
    }

    #mobile-logo {
        display: block;
        margin-left: 0;
    }

    .dropdown-nav {
        display: flex;
        gap: 26px;
    }

    .pc-nav-container {
        display: none;
    }

    #notify-me-button {
        display: block;
    }

    #illustration {
        width: 222px;
        height: 218px;
        top: 15%;
    }

    #imagegrow {
        width: 193px;
        height: 163px;
        flex-shrink: 0;
        top: 5%;
        left: 5%;
    }


    .main {
        height: 65%;
    }

    #imagecoo {
        width: 154px;
        height: 129px;
        flex-shrink: 0;
        left: 57%;
        top: 5%;
    }

    .contact-us {
        padding-top: 75%;
    }


    .text-container {
        width: 75%;
    }

    .text-container-main {
        width: 20em;
    }

    .footer {
        height: 35%;
    }

    .contact-us h2 {
        color: var(--text-headlines-white, #FFF);
        text-align: center;
        font-family: Abel;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
    }

    .backfooter {
        height: 55%;
        flex-direction: column;
    }

    .right-backfooter {
        width: 100%;
        order: 1;
    }

    .lists {
        width: 100%;
        order: 3;
        gap: 10%;
    }

    .questions {
        margin-top: 23vw;
        width: 85%;
        height: auto;
    }

    .questionpoint {
        height: 10vh;
    }

    #firstquestion {
        height: 45vw;
    }

    #bordered {
        padding: 2.5vw 2vw;
    }

    #small-logo {
        margin-right: auto;
    }

    .pages-backfooter {
        width: 100%;
        order: 4;
    }

    .arrows {
        display: none;
    }

    .uptodate-backfooter {
        width: 100%;
        order: 2;
    }

    .arrows-mobile {
        display: inline-block;
        order: 5;
    }

    input {
        width: 75%;
        padding: 1.9vh 2.7vw;
    }

    .dropdown-menu {
        width: 80%;
        margin-bottom: 10px;
    }

    .dropdown-content {
        margin-left: 5vw;
        width: 65vw;
    }

    .cards {
        flex-direction: row;
        gap: 3vh;
    }

    .item {
        width: 90%;
        height: 175px;
    }

    #emoji {
        margin-top: 310%;
    }

    .q {
        width: 100%;
        margin-bottom: 10vh;
    }

}

@media (max-width: 500px) {
    .contact-us {
        padding-top: 125%;
    }

    .emojiclass {
        margin-top: 5%;
    }

    .text-container-footer a {
        font-size: 0.75em;
    }

    #notify-me-button {
        color: var(--text-button-blue, #129AFE);
        text-align: center;
        font-family: Abel;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.36px;
    }
}